# .NET Core
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docuser
.vs/
.vscode/
# .NET Core configuration
appsettings.Development.json
appsettings.Production.json
.gemini/
.env
debug.log
node_modules/
dist/
.angular/
